@import "tailwindcss";

/* Estilização personalizada da barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #374151; /* Cor da trilha (gray-700) */
    border-radius: 4px; /* Cantos arredondados */
}

::-webkit-scrollbar-thumb {
    background: #4b5563; /* Cor do polegar (gray-600) */
    border-radius: 4px; /* Cantos arredondados */
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Cor do polegar ao passar o mouse (gray-500) */
}